{% extends 'news/base.html' %}
{% load static %}

{% block content %}
<h2 style="text-align: center;color: red;" >BIZ HAQIMIZDA</h2>
<p style="margin: 30px ;" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, inventore, hic saepe laborum, qui tenetur non mollitia tempore sunt sint impedit nesciunt quam expedita quas praesentium ratione est cumque recusandae eveniet libero voluptates quae? Fugit alias quia reprehenderit non nemo natus blanditiis modi eaque ratione. Iste laboriosam quidem molestiae nesciunt!</p>
{% endblock content %}